body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
    padding: 1em;
}

label {
    margin-left: auto;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

time, em {
    display: block;
    min-width: 4em;
}

em {
    color: #666;
    font-style: italic;
}

input[type="range"] {
    width: 200px;
}

